<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>RANDOM YEAH</title>
</head>
<body>
    <header>
        <ul class="menu-list">
            <li class = "me">Me</li>
            <li class = "one">Section 1</li>
            <li class = "two">Section 2</li>
            <li class = "three">Section 3</li>
        </ul>
    </header>
    <main>
        <section class="image-grid">
            <img src="https://i.pinimg.com/originals/a2/e4/bd/a2e4bd3aad79a5ba14b7a4fc80dca825.jpg" alt="1">
            <img src="https://www.adobe.com/content/dam/cc/us/en/creative-cloud/photography/discover/landscape-photography/CODERED_B1_landscape_P2d_714x348.jpg.img.jpg" alt="2">
            <img src="https://lp-cms-production.imgix.net/features/2013/10/GettyImages-518334331_super.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850" alt="3">
        </section>
        <div class="description-grid">
            <section class="section1">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, sapiente eveniet! Minima laudantium libero rem porro perferendis dolorum, aperiam magnam vel quasi quas quod at esse fugiat molestias, ipsa ipsam!
                </p>
            </section>
            <section class="section2">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ducimus, animi sint voluptate aliquid fugiat reprehenderit quo tempore unde possimus sapiente quos magni? Laboriosam, architecto nulla porro eius sapiente magni!
                </p>
            </section>
        </div>
    </main>
</body>
</html>