*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

.productsClick_active{
    color: crimson;
}

.userModule{
    width: 80%;
    margin: 3em auto;
}

.userModule h3{
    margin-bottom: 1em;
    font-weight: 600;
}

#userForm{
    display: grid;
    gap: 1em;
}

#userForm input, button{
    padding: .5rem;
}

#userForm button{
    border: silver solid 1px;
    cursor: pointer;
}

#userForm button:hover{
    background: aqua;
}

/*
Appended class:
*/
.successMessage h4{
    color: green;
}