
/* Variables */

:root{
    --primary: silver;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104,104,104, 0.8);
}

html{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 30px 30px;
    line-height: 1.4;
}

.btn{
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    gap: 20px;
}


/* SECTION Navigation */

.main-nav ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    gap: 20px;
    list-style: none;
    text-align: center;
}

.main-nav a{
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1rem;
}

.main-nav a:hover{
    background: var(--dark);
    color: var(--light);
}

/* SECTION Top Container */

.top-container{
    display: grid;
    gap: 20px;
    grid-template-areas: /* Organize contend easily. Content is called by first naming them with "grid-area" (any name can be used) */
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}

/* Naming each element for calling them with "grid-template-areas" */

.showcase{
    grid-area: showcase;
    min-height: 20em;
    background: url(img/tech.jpg);
    background-size: cover;
    background-position: center left;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1{
    font-size: 2rem;
    margin-bottom: 1em;
    color: var(--light);
}

.showcase p{
    font-size: 1rem;
    margin-top: 0;
    color: var(--light);
}

/* Top Box */

.top-box{
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1.5rem;
}

.top-box .price{
    font-size: 1.5rem;
}

.top-box-a{
    grid-area: top-box-a;
    padding-top: 1rem;
}

.top-box-b{
    grid-area: top-box-b;
    padding-top: 1rem;
}

/* SECTION BOXES */

.boxes{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box{
    background: var(--primary);   
    text-align: center;
    padding: 1rem;
}

/* SECTION INFO */

.info{
    background: var(--primary);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 3rem;
}

/* SECTION PORTAFOLIO */

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.portfolio img{
    width: 100%;
    box-shadow: var(--shadow);
}

/*SECTION FOOTER */

footer{
    margin-top: 1rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

/* SECTION MEDIA*/

@media(min-width:1200px){
}

@media(max-width:1199px) and (min-width: 992px){
}

@media(max-width:991px) and (min-width: 768px){
}

@media(max-width:767px){
    .top-container{
        grid-template-areas: 
        "showcase showcase"
        "top-box-a top-box-b";
    }

    .top-box-a, .top-box-b{
        background-color: darkcyan;
    }

    .main-nav ul{
        grid-template-columns: 1fr;
    }

    .info{
        grid-template-columns: 1fr;
    }

    .info .btn{
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media(max-width:500px){
    .top-container{
        grid-template-areas: 
        "showcase"
        "top-box-a"
        "top-box-b";
    }
}


